* {
    font-family: "Fira Code Medium", sans-serif;
    font-size: 13px;
}

#window,
#mode {
    margin: 0 8px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    padding: 0 4px;
    border-radius: 0;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: #000000;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #000000;
}

#clock
{
    background-color: transparent;
    color: #ffffff;
}

#battery {
		padding: 0 8px 0 0;
}
