configuration {
	theme: "gruvbox";
	width: 500;
	lines: 18;
	font: "Fira Code Medium 12";

	kb-select-1: "";
	kb-select-2: "";
	kb-select-3: "";
	kb-select-4: "";
	kb-select-5: "";
	kb-select-6: "";
	kb-select-7: "";
	kb-select-8: "";
	kb-select-9: "";
	kb-select-10: "";
}
